---
import BaseLayout from "@layouts/baseLayout.astro";
---

<BaseLayout title="About page" description="This is the about page">
	<p>Hello There!</p>
</BaseLayout>

<style>
	p {
		font-size: 4rem;
	}
</style>