---
// Components imports
import BaseLayout from "@layouts/baseLayout.astro";

const isRed = false;
---

<BaseLayout title="Home page" description="This is the Home page">
	<p>Hello There!</p>
</BaseLayout>

